@import './reset.scss';
@import './normalize.scss';
@import './Navigation.module.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  min-height: 100vh;
}

.nav_open body,
.nav_open html {
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(7, 6, 6);
    background: white;
  }
}
