@import './mixins.scss';

.nav {
  position: static;
  @include flex-between;
  width: 90%;
  height: 112px;
  margin: 0 auto;
  border-bottom: 4px solid #222433;
  transition: 0.3s all;

  &_open {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    @include flex-start-column;
    border: none;
    z-index: 5;
    background: linear-gradient(0deg, #f7f3f4, #f7f3f4),
      linear-gradient(0deg, #febd2f, #febd2f),
      radial-gradient(178.57% 327.71% at 110.1% 3.35%, #ff605b 0%, #ffee30 100%);
    overflow-y: hidden;
    transition: height 0.5s all;
  }

  &__logo {
    width: max-content;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      transform: rotateY(360deg);
      transition: all 0.5s;
    }
  }

  &__menu {
    @include flex-between;
    width: 50%;
    height: 100%;

    height: 112px;
    margin: 30px auto;

    @media (max-width: 960px) {
      width: 65%;
    }

    @media (max-width: 766px) {
      display: none;
    }
  }

  &__item {
    width: 20%;
    text-align: center;
    font-weight: 400;

    &:hover,
    &:active,
    &:focus {
      font-weight: 700;
    }
  }

  &__button {
    padding: 13px 48px;
    background: #fff;
    box-shadow: 0px 30px 40px rgba(240, 101, 126, 0.05);
    border-radius: 40px;
    border: none;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s all;

    &:hover {
      background: #8be6ba;
      box-shadow: 0 1px 8px rgba(61, 78, 97, 0.1);
    }

    @media (max-width: 766px) {
      display: none;
    }
  }

  &__burger {
    cursor: pointer;
    @media (min-width: 767px) {
      display: none;
    }
  }

  &__close {
    display: none;
    cursor: pointer;
  }

  &_open &__menu {
    @include flex-between-column;
    height: 50vh;
    width: max-content;
    margin: 0;
    z-index: 7;
  }

  &_open &__logo {
    @include flex-between;
    width: 95%;
    margin: 43px auto 72px;
    padding-bottom: 27px;
    border-bottom: 4px solid #222433;
    transition: all 0.5s;

    &:hover {
      width: 90%;
      transform: scale(1.1);
      transition: all 0.5s;
    }
  }

  &_open &__item {
    width: max-content;
    font-size: 28px;
    line-height: 42px;
  }

  &_open &__button {
    width: 90%;
    margin: 100px auto 20px;

    @media (max-width: 766px) {
      display: block;
    }
  }

  &_open &__burger {
    display: none;
  }

  &_open &__close {
    display: block;
    padding-right: 10px;
  }
}
